@model NPParcelDeliveryServiceAssignment.Models.CashVoucher;

@{
    ViewData["Title"] = "CashVoucherstatus";
    Layout = "~/Views/Shared/_fostaffLayout.cshtml";
}

<h1>CashVoucherstatus</h1>

<div class="row">
    @{

            <form asp-controller="CashVoucher" asp-action="CashVoucherstatus" method="post">
                <label for="nameBox">@Html.DisplayNameFor(CashVoucher =>CashVoucher.ReceiverName)</label><br />
                <input type="text" id="nameBox" name="nameBox" /><br>
                <label for="telBox">@Html.DisplayNameFor(CashVoucher =>CashVoucher.ReceiverTelNo)</label><br />
                <input type="text" id="telBox" name="telBox" /><br>
                <button type="submit">Search Cash Voucher</button>
            <p style="color:red">@TempData["NOResult"]</p>
            <p style="color:green">@TempData["Issued"]</p>
            <p>@TempData["collectcv"]</p>
            </form>
            <br>
        if ((bool)ViewData["showcv"])
        {
          <form asp-action="CashVoucherUpdate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CashVoucherID" class="control-label"></label>
                    <input asp-for="CashVoucherID" class="form-control" />
                    <span asp-validation-for="CashVoucherID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StaffID" class="control-label"></label>
                    <input asp-for="StaffID" class="form-control" />
                    <span asp-validation-for="StaffID" class="text-danger"></span>
                </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Currency" class="control-label"></label>
            <input asp-for="Currency" class="form-control" />
            <span asp-validation-for="Currency" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IssuingCode" class="control-label"></label>
            <input asp-for="IssuingCode" class="form-control" />
            <span asp-validation-for="IssuingCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReceiverName" class="control-label"></label>
            <input asp-for="ReceiverName" class="form-control" />
            <span asp-validation-for="ReceiverName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReceiverTelNo" class="control-label"></label>
            <input asp-for="ReceiverTelNo" class="form-control" />
            <span asp-validation-for="ReceiverTelNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateTimeIssued" class="control-label"></label>
            <input asp-for="DateTimeIssued" class="form-control" />
            <span asp-validation-for="DateTimeIssued" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" disabled/>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit"> Collect Cash Voucher </button>
        </div>
    </form>
    }
    }
 <div/>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
