@model NPParcelDeliveryServiceAssignment.Models.CashVoucher

@{
    ViewData["Title"] = "IssueSpecialVoucher";
    Layout = "~/Views/Shared/_amanagerLayout.cshtml";
}

<h1>IssueSpecialVoucher</h1>

<h4>CashVoucher</h4>

<hr />
<div class="row">
    <div class="col-md-4">
                    @{
            if((bool)ViewData["CanIssue"]) 
            {
        <form asp-action="IssueSpecialVoucher">
            <p>@TempData["cMonth"]</p>
            <p>@TempData["mBirthMonth"]</p>
            <p>@TempData["canIssue"]</p>

            <p>@TempData["IssueAmount"]</p>
            <p>@ViewData["error"]</p>

                <div class="form-group">
                    <button type="submit"> Issue Cash Voucher </button>
                </div>
        </form>
            }
        }
        @{
        if((bool)ViewData["CannotIssue"])
        {
          <form asp-action="IssueSpecialVoucher">
            <p>@TempData["cMonth"]</p>
            <p>@TempData["mBirthMonth"]</p>
            <p>@TempData["canIssue"]</p>
        </form>
        }
        }
    </div>
</div>

<div>
    <a asp-action="IssueCashVoucherList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
