@model NPParcelDeliveryServiceAssignment.Models.Parcel

@{
	ViewData["Title"] = "DeliverySearch";
	Layout = "~/Views/Shared/_smanagerLayout.cshtml";
}

<h1>DeliverySearch</h1>
<form asp-controller="Delivery" asp-action="DeliverySearch" method="post">
	<label for="nameBox">@Html.DisplayNameFor(Parcel => Parcel.ParcelID)</label><br />
	<input type="text" id="ParcelID" name="ParcelID" /><br>
	<label for="telBox">@Html.DisplayNameFor(Parcel =>Parcel.ReceiverName)</label><br />
	<input type="text" id="rnameSearch" name="rnameSearch" /><br>
	<label for="telBox">@Html.DisplayNameFor(Parcel =>Parcel.SenderName)</label><br />
	<input type="text" id="snameSearch" name="snameSearch" /><br>
	<button type="submit">Search Parcel Delivery Record</button>
</form>
@{
	if ((bool)ViewData["ShowDetail"])
	{
		<div>
			<h4>Parcel</h4>
			<hr />
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ParcelID)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ParcelID)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ItemDescription)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ItemDescription)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.SenderName)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SenderName)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.SenderTelNo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SenderTelNo)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ReceiverName)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ReceiverName)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ReceiverTelNo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ReceiverTelNo)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.DeliveryAddress)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.DeliveryAddress)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.FromCity)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.FromCity)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.FromCountry)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.FromCountry)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ToCity)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ToCity)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ToCountry)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ToCountry)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ParcelWeight)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ParcelWeight)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.DeliveryCharge)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.DeliveryCharge)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Currency)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Currency)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.TargetDeliveryDate)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.TargetDeliveryDate)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.DeliveryManID)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.DeliveryManID)
				</dd>
				<a asp-controller="Delivery" asp-action="DeliveryHist" asp-route-id="@Model.ParcelID">View Delivery History</a>
			</dl>
		</div>

	}
	}
