@model IEnumerable<NPParcelDeliveryServiceAssignment.Models.Parcel>

@{
    ViewData["Title"] = "ParcelDeliveryOrder";
    Layout = "~/Views/Shared/_fostaffLayout.cshtml";
}

<h1>ParcelDeliveryOrder</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParcelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderTelNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverTelNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetDeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryManID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderTelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverTelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryManID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
